<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_th"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_th"
        android:supportsRtl="true"
        android:theme="@style/Theme.TradeHub512"
        tools:targetApi="31">

        <!-- Actividades -->

        <!-- Actividad principal al iniciar -->
        <activity
            android:name=".activities.CrearSimboloActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Inicio -->
        <activity android:name=".activities.MenuInicialActivity" />
        <activity android:name=".activities.RegistrarseActivity" />
        <activity android:name=".activities.IniciarSesionActivity" />

        <activity android:name=".activities.MenuPrincipalActivity" />

        <!-- Menu Principal ... -->
        <activity android:name=".activities.MenuPublicacionesActivity" />
        <activity android:name=".activities.MenuEnciclopediaActivity" />
        <activity android:name=".activities.AcercaDeActivity" />

        <!-- Menu Publicaciones -->
        <activity android:name=".activities.PublicacionesPublicarActivity" />
        <activity android:name=".activities.PublicacionesFavoritosActivity" />
        <activity android:name=".activities.PublicacionesExplorarActivity" />
        <activity android:name=".activities.PublicacionesFiltrarActivity" />

        <!-- Menu Enciclopedia -->
        <activity android:name=".activities.EnciclopediaSimbolosActivity" />
        <activity android:name=".activities.ItemSimboloDetalleActivity" />
        <activity android:name=".activities.EnciclopediaIndicadoresActivity" />
        <activity android:name=".activities.ItemIndicadorDetalleActivity" />
        <activity android:name=".activities.EnciclopediaTendenciasActivity" />
        <activity android:name=".activities.ItemTendenciaDetalleActivity" />
        <activity android:name=".activities.EnciclopediaAgregarElementoActivity" />

        <!-- Menu Enciclopedia Agregar Elementos -->
        <activity android:name=".activities.EnciclopediaAgregarElementoSimboloActivity" />
        <activity android:name=".activities.EnciclopediaAgregarElementoIndicadorActivity" />


        <!-- <activity android:name="" /> -->

    </application>

</manifest>
